/* =============== GOOGLE FONTS =============== */
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Jost:wght@200;300;500&family=Raleway:wght@600;800;900&display=swap');

/* =============== VARIABLE CSS =============== */
:root {
    --header-height: 3rem;

    /* =========== Colors ========== */
    --hue: 174;
    --sat: 63%;
    /* --light-color: #DBD8E3;
    --medium-color: #5C5470;
    --dark-color: #352F44;
    --darker-color: #2A2438; */
    /* Browm Color */
    --light-color: #E4E4E4;
    --medium-color: #044343;
    --dark-color: #045757;
    --darker-color: #222222;

    --title-color: var(--darker-color);
    --text-color: var(--dark-color);
    --text-alt-color: var(--light-color);
    --hint-color: var(--medium-color);
    --body-color: var(--light-color);
    --shadow-color: rgba(0, 0, 0, 0.15);
    --scroll-bar-color: var(--body-color);
    --scroll-thumb-color: var(--body-color);
    --button-color: var(--medium-color);
    --on-button-color: var(--light-color);
    --button-hover-color: var(--dark-color);
    --on-button-hover-color: var(--light-color);

    /* =========== Neumorphis ========== */
    /* Text Shadow */
    --text-shadow: -1px -1px 2px #ffffff, 2px 2px 4px rgba(99, 99, 99, 0.25), 1px 1px 2px rgba(99, 99, 99, 0.25), 2px 2px 5px #c0c0c0;

    /* 3d container */
    --neumor-container-shadow: inset 0 -4px 7px 0 rgba(0, 0, 0, 0.7), inset 0 4px 7px 0 hsla(139, 15%, 80%, 0.5), 0 -10px 40px 0 #739b9b2f, 0 10px 40px 0 #0443433b;
    --neumor-scroll-thumb: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.6), inset 0 4px 7px 0 hsla(0, 0%, 100%, 0.2);

    /* Inner shadow */
    --inner-shadow: inset 5px 5px 12px #cbcbcb,
    inset -5px -5px 12px #fdfdfd;
    --inner-line-shadow: inset -1px -1px 3px 0 #fff, inset 1px 1px 3px 0 rgba(0, 0, 0, 0.4);

    /* Circle Button */
    --circle-btn-bg: linear-gradient(145deg, #f4f4f4, #cdcdcd);
    --circle-btn-shadow: 6px 6px 14px #c9c9c9, -6px -6px 14px #ffffff;
    --circle-btn-hbg: linear-gradient(145deg, #cdcdcd, #f4f4f4);
    --circle-btn-hshadow: inset 6px 6px 14px #d6d6d6, inset -6px -6px 14px #f2f2f2;

    /* Home Image / Container */
    --home-img-bgshadow: inset 19px 19px 28px #033434,
    inset -19px -19px 28px #055252;
    --container-shadow: -18px 18px 38px #d2d2d2, 22px -20px 38px #f6f6f6;
    --menu-shadow: 5px 5px 12px #c9c9c9, -5px -5px 12px #ffffff;
    --footer-shadow: 18px 18px 50px #d2d2d2, -18px -18px 50px #f6f6f6;

    /* About Button */
    --about-btn-bg: linear-gradient(170deg, #055050, #033636);
    --about-btn-shadow: 16px 15px 22px #033636, -16px -15px 22px #055050;

    /* Qualification */
    --qualification-left-shadow: -8px -6px 12px #f4f4f4, -8px 6px 12px #d4d4d4;
    --qualification-right-shadow: 8px 6px 12px #d4d4d4, 8px -6px 12px #f4f4f4;
    --qualification-rounder-shadow: 8px 8px 20px #c6c6c6, -8px -8px 20px #ffffff;

    /* =========== Font and typography ========== */
    --body-font: 'Jost', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --ttd-font: 'Dawning of a New Day', cursive;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font Weight (Bona Nova just have 400) */
    --font-medium: 500;
    --font-light: 300;
    --font-very-light: 200;

    /* =========== Margenes Bottom ========== */
    /* .25rem =4px, .5rem = 8px, .75rem = 12px */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* =========== z index ========== */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* =========== Hover overlay ========== */
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);

}

/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* =============== VARIABLE DARK THEME =============== */
body.dark-theme {
    /* =========== Colors ========== */
    --title-color: var(--light-color);
    --text-color: var(--light-color);
    --hint-color: var(--dark-color);
    --body-color: var(--darker-color);
    --text-alt-color: var(--darker-color);
    --shadow-color: rgba(155, 123, 123, 0.15);
    --scroll-bar-color: var(--body-color);
    --scroll-thumb-color: var(--body-color);
    --button-color: var(--dark-color);
    --on-button-color: var(--light-color);
    --button-hover-color: var(--medium-color);
    --on-button-hover-color: var(--light-color);

    
    /* =========== Neumorphis ========== */
    /* Text Shadow */
    --text-shadow: -1px -1px 2px hsla(0, 0%, 100%, 0.3), 4px 4px 8px rgba(70, 70, 70, 0.2), 1px 1px 3px rgba(70, 70, 70, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.9);

    /* 3d container */
    --neumor-container-shadow: inset 0 -4px 7px 0 rgb(4, 34, 24), inset 0 4px 7px 0 hsla(0, 0%, 100%, 0.26), 0 -10px 40px 0 #0457571e, 0 10px 40px 0 #0457572d;
    --neumor-scroll-thumb: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.9), inset 0 4px 7px 0 hsla(0, 0%, 100%, 0.3);

    /* Inner shadow */
    --inner-shadow: inset 7px 7px 19px #181818, inset -7px -7px 19px #2c2c2c;
    --inner-line-shadow: inset -1px -1px 3px 0 rgba(255, 255, 255, 0.3), inset 1px 1px 3px 0 rgba(5, 48, 37, 0.9);

    /* Circle Button */
    --circle-btn-bg: linear-gradient(145deg, #2e2e2e, #161616);
    --circle-btn-shadow: 6px 6px 14px #161616, -6px -6px 14px #2e2e2e;
    --circle-btn-hbg: linear-gradient(145deg, #151515, #2f2f2f);
    --circle-btn-hshadow: inset 6px 6px 14px #151515, inset -6px -6px 14px #2f2f2f;

    /* Home Image / Container */
    --home-img-bgshadow: inset 18px 18px 27px #033b3b, inset -18px -18px 27px #057373;
    --container-shadow: -18px 18px 38px #1c1c1c, 22px -20px 38px #282828;
    --menu-shadow: 5px 5px 13px #141414, -5px -5px 13px #303030;
    --footer-shadow: 16px 16px 34px #1c1c1c, -16px -16px 34px #282828;

    /* About Button */
    --about-btn-bg: linear-gradient(170deg, #056868, #034646);
    --about-btn-shadow: 16px 15px 24px #034646, -16px -15px 24px #056868;

    /* Qualification */
    --qualification-left-shadow: -8px -6px 12px #2c2c2c, -8px 6px 12px #181818;
    --qualification-right-shadow: 8px 6px 12px #181818, 8px -6px 12px #2c2c2c;
    --qualification-rounder-shadow: 6px 6px 11px #131313, -6px -6px 11px #313131;
}

/* =============== Animation =============== */
@keyframes floatingUp {
    0%, 100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-1rem);
    }
}

@keyframes floatingDown {
    0%, 100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(1rem);
    }
}

@keyframes textIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

/* =============== BUTTON DARK / LIGHT =============== */
.nav__btns {
    display: flex;
    align-items: center;
    z-index: 0;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--hint-color);
}

/* =============== BASE =============== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-weight: var(--font-light);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: 900;
}

ul {
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.3s ease-in-out; /* Safari and Chrome */
    -o-transition: all 0.3s ease-in-out; /* Opera */
    -ms-transition: all 0.3s ease-in-out; /* Explorer 10 */
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

img {
    max-width: 100%;
    height: auto;
}

/* =============== REUSABLE CSS CLASSES =============== */
.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--big-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle {
    text-align: center;
}

.section__height {
    height: 100vh;
}

.neu__text,
.hi-txt {
    color: var(--body-color);
    text-shadow: var(--text-shadow);
}

.neu__text {
    font-weight: 800;
}

.overflow_x_hidden {
    overflow-x: hidden;
}

.overflow_y_hidden {
    overflow-y: clip;
}
/* =============== LAYOUT =============== */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/* =============== HEADER =============== */
.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* ================= NAV ================= */
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, 
.nav__toggle {
    color: var(--title-color);
    font-family: var(--title-font);
}

.nav__logo {
    font-family: var(--ttd-font);
    font-size: var(--h3-font-size);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        max-width: 100vw;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -2px 4px var(--shadow-color);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: all .4s ease;
    }
}

.nav__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__close:hover {
    color: var(--title-color);
}

.nav__logo:hover, 
.nav__toggle:hover,
.nav__link:hover {
    color: var(--hint-color);
}

/* Show Menu */
.show-menu {
    bottom: 0;
    z-index: var(--z-modal);
}

/* Active Link */
.active-link {
    border-radius: 10px;
    background: var(--body-color);
    box-shadow: var(--inner-shadow);
}

/* Change background header */
.scroll-header {
    box-shadow: 0 -4px 6px var(--shadow-color);
}

/* ================= HOME ================= */
.home__container {
    gap: 1rem;
}

.home__content {
    grid-template-columns: .5fr 3fr;
    padding-top: var(--mb-2-5);
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    padding: .5rem .8rem;
    color: var(--text-color);
    border-radius: 50%;
    background: var(--circle-btn-bg);
    box-shadow:  var(--circle-btn-shadow);
}

.home__social-icon:hover {
    border-radius: 50%;
    background: var(--circle-btn-hbg);
    box-shadow: var(--circle-btn-hshadow);
}

.home__data {
    grid-column: 1/3;
}

.home__title {
    font-size: var(--big-font-size);
    display: flex;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-light);
    margin-bottom: var(--mb-0-75);
    overflow: hidden;
}

.home__description {
    margin-bottom: var(--mb-1-5);
}

.animated-text span {
    display: none;
}

.animated-text span.text-in {
    display: block;
    animation: textIn .5s ease;
}

.home__scroll {
    display: none;
}

.home__scroll-button {
    color: var(--text-color);
    transition: .3s;
}

.home__scroll-button:hover {
    transform: translateY(0.25rem);
}

.home__scroll-mouse {
    font-size: 2rem;
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    font-size: 1.25rem;
}

/* ============== HOME IMAGE =============== */
/* border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%; */
.organic__radius {
    border-radius:  63% 37% 30% 70% / 50% 45% 55% 50%;
}

.home__img {
    padding: 1rem;
    margin: 0 2rem 0 0;
    background: var(--body-color);
    box-shadow:  var(--container-shadow);
}

.home__img-background {
    background: var(--hint-color);
    box-shadow: var(--home-img-bgshadow);
}

.home__img-profile {
    display: flex;
    max-width: 100%;
    height: auto;
    border-style: none;
}

/* ============== BUTTON =============== */
.button {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--on-button-color);
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    box-shadow: var(--neumor-container-shadow);
    transition: all .3s ease;
}

.button:hover {
    color: var(--on-button-hover-color);
    background-color: var(--button-hover-color);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

/* ================= ABOUT ================= */
.about__subtitle {
    margin-bottom: var(--mb-0-75);
}

.about__img {
    width: 350px;
}

.img-container-1,
.img-container-2,
.img-container-3,
.img-container-4 {
    grid-column: 1;
    grid-row: 1;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.img-container-1 {
    z-index: 1;
}

.img-container-2 {
    animation: floatingUp 4s ease infinite;
    z-index: 2;
}

.img-container-3 {
    animation: floatingDown 3.5s ease infinite;
    z-index: 2;
}

.img-container-4 {
    animation: floatingDown 4.5s ease infinite;
    z-index: 2;
}

.about__data {
    border-radius: 1rem;
    padding: 1.5rem;
    color: var(--light-color);
    background: var(--hint-color);
    box-shadow: var(--neumor-container-shadow);
}

.about__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__sign {
    display: none;
    font-size: 2rem;
    font-family: var(--ttd-font);
    margin-bottom: var(--mb-2-5);
    text-align: end;
}

.about__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--mb-1);
}

.about__buttons .button {
    padding: 1rem 1.5rem;
    border-radius: 5000px;
    color: var(--light-color);
    background: var(--about-btn-bg);
    box-shadow: var(--about-btn-shadow);
}

.about__buttons .button:hover {
    background: var(--hint-color);
    box-shadow: none;
}

/* ============== HOW I GET HERE ============== */
.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__data-2 {
    display: none;
}

.qualification__left {
    border-radius: .5rem;
    padding: var(--mb-0-5);
    box-shadow: var(--qualification-left-shadow);
}

.qualification__right {
    border-radius: .5rem;
    padding: var(--mb-0-5);
    box-shadow: var(--qualification-right-shadow);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-75);
}

.qualification__calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

.qualification__rounder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 28px;
    height: 28px;
    margin-top: 2.5rem;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background-color: var(--body-color);
    border-radius: 50%;
    box-shadow: var(--qualification-rounder-shadow);
}

.qualification__inrounder {
    width: 12px;
    height: 12px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    bottom: auto;
    z-index: 0;
    width: 5px;
    height: 70%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--hint-color);
    box-shadow: var(--inner-line-shadow);
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;
}

/* ================= PORTOFOLIO ================= */
.portofolio__card {
    position: relative;
    width: 50vw;
}

.portofolio__img {
    border-radius: 1.6rem;
    box-shadow: 5px 3px 6px var(--shadow-color);
}

.swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

/* ================= CONTACT ME ================= */
.contact__input {
    width: 100%;
    border-radius: .5rem;
    background: var(--body-color);
    box-shadow: var(--inner-shadow);
    -moz-box-shadow: var(--inner-shadow);
    -webkit-box-shadow: var(--inner-shadow);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    margin-top: .5rem;
    padding: .75rem .5rem .5rem .75rem;
    -webkit-appearance: none;
}

#submit__button {
    border: none;
    cursor: pointer;
}

/* =================== FOOTER =================== */
.footer {
    padding: 0 1rem;
}

.footer__header {
    text-align: center;
    margin-bottom: var(--mb-1);
}

.footer__bg {
    padding: 2rem 0;
    border-radius: 2rem;
    background: var(--body-color);
    box-shadow:  var(--footer-shadow);
}

.footer__container {
    row-gap: 1.75rem;
}

.footer__links {
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer__content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer__subtitle {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.footer__item {
    margin: 0 var(--mb-0-25);
}

.footer__link:hover {
    color: var(--title-color);
}

.footer__code {
    padding: 1rem;
    margin: 0 1rem;
    border-radius: .75rem;
    background: var(--body-color);
    box-shadow: var(--inner-shadow);
}

.footer__rights {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 1rem 2rem;
    font-size: var(--small-font-size);
}

/* ================== SCROLL UP ================= */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    color: var(--light-color);
    background-color: var(--hint-color);
    box-shadow: var(--neumor-container-shadow);
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover {
    color: var(--text-alt-color);
    background-color: var(--text-color);
}

.scrollup__icon {
    font-size: 1.5rem;
}

/* Show Scroll Top */
.show-scroll {
    bottom: 5rem;
}

/* ================ SCROLL BAR =============== */
::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
    box-shadow: var(--inner-line-shadow);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
    box-shadow: var(--neumor-scroll-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--hint-color);
}

/* ================ MEDIA QUERIES =============== */
/* For small device */
@media screen and (max-width: 360px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu {
        padding: 2rem .25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }

    .home__content {
        grid-template-columns: .25fr 3fr;
    }
    
    .home__social-icon {
        font-size: 1.25rem;
        padding: .2rem .4rem;
    }
    
    .home__img {
        padding: .8rem;
        margin-right: .5rem;
    }

    .qualification__data {
        display: none;
    }
    
    .qualification__data-2 {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 1rem;
    }

    .qualification__right {
        margin-bottom: var(--mb-1-5);
    }

    .contact__container {
        margin: 0;
    }

    .footer__bg {
        padding: 2rem 1rem;
    }
    
    .footer__header {
        margin-bottom: var(--mb-0-5);
    }

    .footer__link p {
        display: none;
    }
        
    .footer__content {
        row-gap: 1rem;
    }

    .footer__code {
        padding: .8rem;
        margin: 0;
    }
    
    .footer__rights {
        padding: 1.5rem 0;
    }
    
}

@media (min-width: 361px) and (max-width: 466px) {
    .home__img {
        margin-right: .5rem;
    }
}

@media (min-width: 361px) {
    .footer__item {
        text-align: center;
    }
}

/* For medium device */
@media screen and (min-width: 490px) {
    .portofolio__card {
        width: 42vw;
    }

    .footer {
        margin-top: var(--mb-1);
    }

}

@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data {
        grid-column: initial;
    }

    .home__img {
        order: 1;
        justify-self: center;
        padding: .8rem;
        margin-right: .5rem;
    }
    
    .home__social-icon {
        font-size: 1.15rem;
        padding: .2rem .6rem;
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
        margin-right: 0;
    }
        
    .about__description {
        text-align: left;
        margin-bottom: var(--mb-2-5);
    }

    .qualification__sections {
        display: grid;
        grid-template-columns: .9fr;
        justify-content: center;
    }
    
    .portofolio__card {
        width: 34vw;
    }

    .contact__section {
        padding-top: 2rem;
    }

    .footer {
        padding: 0 2rem;
    }

    .footer__container {
        grid-template-columns: 1fr 3fr;
        align-items: center;
        column-gap: .5rem;
        margin: 0 2rem;
    }

    .footer__header {
        margin-bottom: var(--mb-1-5);
    }

    .footer__links {
        display: block;
    }

    .footer__link {
        display: flex;
        justify-content: left;
    }

    .footer__link i {
        margin-right: .5rem;
        margin-bottom: var(--mb-1);
    }

    .footer__contact {
        grid-column: 1/3;
    }

    .contact__container, .footer__code {
        margin: 0;
    }
}

@media (min-width: 568px) and (max-width: 792px) { 
    .about__data {
        margin-top: var(--mb-1);
        border-radius: 1rem 0 0 1rem;
        padding: 1.25rem;
    }
 }

@media screen and (min-width: 742px) {
    .about__description {
        margin-bottom: var(--mb-0-75);
    }

    .about__sign {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section__subtitle {
        margin-bottom: 2rem;
    }

    .header {
        top: 0;
        bottom: initial;
        padding: 0 1.5rem;
    }

    /* Change background header */
    .scroll-header {
        box-shadow: 0 4px 6px var(--shadow-color);
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flexbox;
        column-gap: 2rem;
        align-items: center;
    }

    .nav__menu {
        margin-left: auto;
    }

    .change-theme {
        margin: 0;
        margin-left: .5rem;
    }

    .active-link {
        padding: .5rem;
        background: var(--body-color);
        box-shadow: var(--menu-shadow);
    }

    .qualification .section__subtitle {
        margin-bottom: 2.75rem;
    }

    .qualification__sections {
        grid-template-columns: .8fr;
    }

    .home__container {
        margin: 0 2rem;
        row-gap: 5rem;
    }
        
    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    
    .home__social-icon {
        padding: .5rem .8rem;
    }

    .home__scroll {
        display: block;
    }

    .home__scroll-button {
        margin-left: 3rem;
    }

    .about__container {
        margin-right: 0;
    }

    .portofolio__container__wrapper {
        width: min-content;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem;
        border-radius: 2rem;
    }

    .portofolio__container {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem 0;
        border-radius: 1.5rem;
        box-shadow: var(--inner-shadow);
    }

    .portofolio__card {
        width: 27vw;
    }

    .contact__section {
        padding-top: 5rem;
        padding-bottom: 1.5rem;
    }

    .footer__bg {
        padding: 2rem;
    }

    .footer__container {
        grid-template-columns: 1fr 1fr;
        align-items: initial;
        column-gap: 1.75rem;
        row-gap: 1rem;
    }

    .footer__links {
        display: flex;
    }

    .footer__social {
        grid-column: 1/3;
    }

    .footer__contact {
        grid-column: initial;
    }

    .footer__rights {
        margin-top: 1rem;
    }

    .scrollup {
        right: 2rem;
    }

    .show-scroll {
        bottom: 2.5rem;
    }
}

@media screen and (min-width: 792px) { 
    .home__container {
        margin-left: auto;
        margin-right: auto;
    }

    .about__container {
        margin-right: auto;
    }
}

/* For large device */
@media screen and (min-width: 900px) { 
    .footer {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
}

 @media screen and (min-width: 920px) { 
    .about__container {
        grid-template-columns: 1fr 1.2fr;
        gap: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container {
        padding: 0;
    }

    .home__container {
        width: 90%;
    }

    .home__content {
        padding-top: 4rem;
        column-gap: 1rem;
        grid-template-columns: max-content max-content 1fr;
    }

    .home__img {
        padding: 1rem;
    }

    .home__img-background {
        width: 300px;
    }

    .home__description {
        max-width: 309px;
    }

    .home__social {
        transform: translateX(-4rem);
    }

    .home__data {
        transform: translateX(-2rem);
    }

    .home__social-icon {
        font-size: 1.25rem;
        padding: .5rem .8rem;
    }

    .about__container {
        width: 90%;
        max-width: 960px;
        justify-content: center;
        column-gap: 6rem;
    }

    .about__img {
        width: 100%;
    }

    .qualification__wrapper {
        display: grid;
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        grid-template-columns: 1fr 2.5fr;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
        transform: translateX(2rem);
    }

    .portofolio__container {
        width: 730px;
        margin-left: auto;
        margin-right: auto;
    }

    .portofolio__card {
        width: 244px;
    }
    
    .footer__bg {
        max-width: 864px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1100px) {
    .about__description {
        margin-bottom: var(--mb-1-5);
    }

    .about__sign {
        margin-bottom: var(--mb-3);
    }
}

@media screen and (min-width: 1200px) { 
    .container {
        max-width: 1000px;
    }

    .home__container {
        row-gap: 2rem;
    }

    .home__content {
        padding-top: 3.5rem;
    }

    .home__img {
        width: 80%;
        justify-self: end;
    }

    .home__img-background {
        width: auto;
    }
}

/* For tall screen on mobiles / desktop */
